<div class="div-card">
  <mat-card class="login-card">
    <mat-card-title class="profile-title"
      >Suas informações
      <button mat-raised-button color="warn" (click)="deleteUser(user$.id!)">
        Excluir conta
      </button>
    </mat-card-title>
    <mat-card-content>
      <form class="example-form" [formGroup]="formUser">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome completo</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            placeholder="Nome completo"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Ex. talent@email.com"
          />
          <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            Por favor digite um e-mail.
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email é <strong>obrigatório.</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Senha"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-divider inset></mat-divider>

    <mat-card-actions class="login-button">
      <button
        mat-raised-button
        [disabled]="!formUser.valid"
        color="primary"
        style="width: 100%"
        (click)="saveUser()"
      >
        Salvar
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
